@import url('https://fonts.cdnfonts.com/css/rawline');

/*
html, body, .stApp * {
    font-family: 'Rawline', sans-serif !important;
}*/

.login-title {
    font-size: 60px;
    color: black;
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px;
}

.stButton > button {
    width: 100% !important;
    font-size: 18px;
    padding: 12px;
    border-radius: 8px;
    background-color: #3a40f4;  /* Sua cor personalizada */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.stButton > button:hover {
    color: white;
    background-color: #2e32c9;  /* Cor um pouco mais escura no hover */
}
